# Copy this file to .env and fill in your values.

HUGGINGFACE_TOKEN=
WHISPER_MODEL_SIZE=
PINECONE_API_KEY=pcsk_759VRn_EaqwGPdWkYSqAqaQbhg7n8raP5ts56HKEhyxoRVjyLxoKJgXDqUTNFQEVjEVc8Y
PINECONE_INDEX_NAME=call-center-policies
